tags
*swp
*.out
*.o
*.d
log
lib*.a
tmp
*.pid
build
node_modules
.git
.idea/e
.DS_Store
*.iml
*.properties
.idea/
.gradle/
gradle/
.DS_Store
build.gradle
assistant/assistant
pid
logs
coverage
npm-debug.log
config-test.json
